<footer class="footer">
  <div class="button-up"><a href="#scroll">
    <img class="up" title="button-link-first-page"id="page"src="./assets/images/ico-arrow.svg"></a>
  </div>
  <div class="social-media">
       <nav class="menu-documents">
      <ul>
        <li class="link">
          <a
            href="https://medium.com/adalab"
            title="View articles"
            target="_blank" >
            Articles</a
          >
        </li>
        <li class="link">
          <a
            href="https://medium.com/adalab"
            title="View books"
            target="_blank"
          >
            Books</a
          >
        </li>
        <li class="link">
          <a
            href="https://medium.com/adalab"
            title="Come with us"
            target="_blank"
          > Events </a> 
        </link>
          <li class="link">
            <a
              href="https://medium.com/adalab"
              title="Reasons why"
              target="_blank"
            >
        Reasons</a></li>
        <li class="link">
          <a
            href="https://medium.com/adalab"
            title="Tips"
            target="_blank"
          >
        Tips</a></li>
      </ul>
    </nav>
    <br />
    <nav class="menu-documents">
      <ul>
        <li class="link">
          <a
            href="https://medium.com/adalab"
            title="Twitter"
            target="_blank"
          >Twitter </a> </li>
          <li class="link">
            <a
              href="https://medium.com/adalab"
              title="Instagram"
              target="_blank"
            >Instagram </a></li>
            <li class="link">
              <a
                href="https://medium.com/adalab"
                title="mastodon.social"
                target="_blank">mastodon.social</a></li>
      </ul>
    </nav>
    <div class="legal-text">
      <p>© 2017</p>
      <small class="legal-text"> we❤︎components</small>
    </div>
  </div>
</footer>
