<header class="header-principal">
  <div class="menu-principal">
    <nav class="menu">
      <a href="https://adalab.es/" target="_blank">
        <img
          class="button-menu"
          src="./assets/images/ico-menu.svg"
          alt="button-menu-navigation"
      /></a>
    </nav>
  </div>
  <div class="header-container">
    <h1 class="header-title">
      <span>Anonymous</span>
      <span>Proxy</span>
    </h1>
    <p class="header-paragraph">In hac habitasse platea dictumst.</p>
    <a href="#3reasons">
      <img
        id="scroll"
        class="button-scroll-down"
        src="./assets/images/ico-scroll-down.svg"
        alt="button-link-to-main"
    /></a>
  </div>
</header>
