<main class="main-section">
  <section class="section-looking">
    <small class="small-sectionlooking">Insomnia Tips</small>
    <h2 class="title">
      <span class="title-sectionlooking">Looking through</span>
      <span class="title-sectionlooking">a window</span>
    </h2>
    <p class="paragraph-sectionlooking">
    <span> Donec accumsan,nulla ut volutpat porttitor, quam odio tempus felis,at</span>
      <span>luctus ex diam nec.Vivamus semper sodales rutrum.</span>
    </p>
    <button class="button-go">GO</button>
  </section>
  <!--desde aqui empiezo a trabajar con Grid-->
  <section id="3reasons"class="section-reasons">
    <h2 class="title-reasons">3 Reasons to purchase</h2>
    <div class="grid">
      <article class="reason">
        <h4 class="title">Ut sed metus</h4>
        <p class="paragrah">
          <span>Lorem ipsum dolor sit </span>
          <span>amet, consecteur.</span>
        </p>
      </article>

      <article class="reason">
        <h4 class="title">Curabitur ac erat</h4>
        <p class="paragrah">
          <span>Mauris mattis urna </span>
          <span>quis lorem molestie</span>
        </p>
      </article>
      <article class="reason">
        <h4 class="title">Morbi dictum</h4>
        <p class="paragrah">
          <span>Aliquam in dolor et</span> 
          <span>dolor tincidunt</span></article>
        </article>
    </div>
   <div class="click"> <button class="button">More informations </button> </div>
  </section>
  
</main>
